In [1]:
import pandas as pd
import numpy as np

In [2]:
customers_df = pd.read_csv('DATA/cw5/customers.csv', sep=',')
orders_df = pd.read_csv('DATA/cw5/orders.csv', sep=',')

# Zadanie 1

In [3]:
orders_df

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016/09/04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014/11/14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017/02/26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013/12/01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015/10/22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
...,...,...,...,...,...,...,...
26547,2016/11/19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1
26548,2016/08/02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1
26549,2017/03/09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1
26550,2016/10/04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5
26551,2016/12/16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3

In [4]:
orders_df.describe()

       pages_visited  tshirt_price  tshirt_quantity
count   26552.000000  26552.000000     26552.000000
mean       10.838016     20.223768         2.693394
std         3.589299      2.220651         3.456182
min         2.000000     17.500000         1.000000
25%         8.000000     18.000000         1.000000
50%        11.000000     20.000000         2.000000
75%        13.000000     23.000000         3.000000
max        28.000000     24.000000        29.000000

In [5]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  object
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.4+ MB

In [6]:
orders_df.head()

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016/09/04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014/11/14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017/02/26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013/12/01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015/10/22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1

In [7]:
# Zadanie 1a
orders_df['order_date'] = pd.to_datetime(orders_df['order_date'], format='%Y/%m/%d')

In [8]:
orders_df

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013-12-01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3

In [9]:
# Zadanie 1b - liczba unikatowych wartości w kolumnie kategorii
orders_df.groupby('tshirt_category')['tshirt_quantity'].nunique()

tshirt_category
Bl Tshirt F        14
Bl Tshirt M        17
Black T-Shirt F    27
Black T-Shirt M    27
Hoodie             28
Tennis Shirt       27
Wh Tshirt F        15
Wh Tshirt M        21
White T-Shirt F    25
White T-Shirt M    27
Name: tshirt_quantity, dtype: int64

In [10]:
# Łączna liczba kategorii
orders_df.groupby('tshirt_category')['tshirt_quantity'].count()

tshirt_category
Bl Tshirt F         257
Bl Tshirt M         377
Black T-Shirt F    3248
Black T-Shirt M    4454
Hoodie             6229
Tennis Shirt       2153
Wh Tshirt F         312
Wh Tshirt M         462
White T-Shirt F    3513
White T-Shirt M    5547
Name: tshirt_quantity, dtype: int64

In [11]:
def normalize_category(category: str):
    if category.startswith("Wh "):
        category = category.replace("Wh ", "White ")
    if category.startswith("Bl "):
        category = category.replace("Bl ", "Black ")
    if " Tshirt " in category:
        category = category.replace(" Tshirt ", " T-Shirt ")
    if "Hoodie" in category:
        category = category.replace(category, " Hoodie ")
    if "Tennis Shirt" in category:
        category = category.replace(category, " Tennis_Shirt ")
    return category


def space_to_nan(value):
    return np.nan if len(value) == 0 else value

In [12]:
orders_df['tshirt_category'] = orders_df['tshirt_category'].apply(normalize_category)

In [13]:
orders_df.groupby('tshirt_category')['tshirt_quantity'].nunique()

tshirt_category
 Hoodie            28
 Tennis_Shirt      27
Black T-Shirt F    27
Black T-Shirt M    27
White T-Shirt F    25
White T-Shirt M    27
Name: tshirt_quantity, dtype: int64

In [14]:
# Zadanie 1c
orders_df[['tshirt_colour', 'tshirt_type', 'tshirt_size']] = orders_df.tshirt_category.str.split(' ', expand=True)

In [15]:
del orders_df['tshirt_category']

In [16]:
orders_df['tshirt_colour'] = orders_df['tshirt_colour'].apply(space_to_nan)
orders_df['tshirt_size'] = orders_df['tshirt_size'].apply(space_to_nan)

In [17]:
orders_df

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size
0,2016-09-04,9,HTS-038040-0002,038040,20.0,1,White,T-Shirt,M
1,2014-11-14,11,HTS-801797-0001,801797,20.0,1,White,T-Shirt,M
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,18.0,3,White,T-Shirt,F
3,2013-12-01,10,HTS-914324-0001,914324,18.0,1,White,T-Shirt,F
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,20.0,1,White,T-Shirt,M
...,...,...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,20.0,1,White,T-Shirt,M
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,20.0,1,White,T-Shirt,M
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,20.0,1,White,T-Shirt,M
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,23.0,5,NaN,Hoodie,NaN
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,19.0,3,Black,T-Shirt,M

In [18]:
# Zadanie 1e
mask = (orders_df['order_date'] > '2014-12-31') & (orders_df['order_date'] <= '2016-08-02')
orders_df.loc[mask]

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,20.0,1,White,T-Shirt,M
5,2016-01-15,9,HTS-061311-0003,061311,17.5,4,Black,T-Shirt,F
12,2015-11-24,15,HTS-je57lh-0001,je57lh,23.0,3,NaN,Hoodie,NaN
13,2015-10-10,8,HTS-252675-0002,252675,20.0,3,White,T-Shirt,M
15,2015-11-29,15,HTS-heb26i-0001,heb26i,17.5,1,Black,T-Shirt,F
...,...,...,...,...,...,...,...,...,...
26496,2016-06-02,2,HTS-5b4bg6-0001,5b4bg6,17.5,1,Black,T-Shirt,F
26513,2016-07-05,12,HTS-bt08zd-0001,bt08zd,18.0,1,White,T-Shirt,F
26515,2016-07-27,17,HTS-gsc3f6-0001,gsc3f6,23.0,1,NaN,Hoodie,NaN
26540,2016-06-08,7,HTS-6ba0i0-0001,6ba0i0,20.0,4,White,T-Shirt,M
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,20.0,1,White,T-Shirt,M

# Zadanie 2

In [19]:
# Zadanie 2a
customers_df.columns

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [29]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18766 entries, 0 to 18765
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  18766 non-null  object
 1   gender       16850 non-null  object
 2   birthdate    18766 non-null  object
 3   user_agent   18766 non-null  object
 4   ip_address   18766 non-null  object
 5   campaign     18766 non-null  bool
dtypes: bool(1), object(5)
memory usage: 751.5+ KB

In [20]:
customers_df.describe()

,customerID,gender,birthdate,user_agent,ip_address,campaign
count,18766,16850,18766,18766,18766,18766
unique,18691,2,13278,20,18766,2
top,405669,M,1997/9/8,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
freq,2,8533,7,2965,1,14261

In [21]:
orders_df.describe()

       pages_visited  tshirt_price  tshirt_quantity
count   26552.000000  26552.000000     26552.000000
mean       10.838016     20.223768         2.693394
std         3.589299      2.220651         3.456182
min         2.000000     17.500000         1.000000
25%         8.000000     18.000000         1.000000
50%        11.000000     20.000000         2.000000
75%        13.000000     23.000000         3.000000
max        28.000000     24.000000        29.000000

In [30]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  datetime64[ns]
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_price     26552 non-null  float64
 5   tshirt_quantity  26552 non-null  int64
 6   tshirt_colour    18170 non-null  object
 7   tshirt_type      26552 non-null  object
 8   tshirt_size      18170 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 1.8+ MB

In [22]:
# Zadanie 2c
customers_df.rename(columns={'customerID': 'customer_id'}, inplace=True)

In [23]:
customers_df

,customer_id,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False
...,...,...,...,...,...,...
18761,m1yyx6,M,1999/8/19,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,95.142.4.155,True
18762,744375,F,1941/10/22,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,119.219.176.225,False
18763,t6pxeo,F,1950/5/10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,196.178.254.85,False
18764,930049,F,1979/10/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,118.173.208.45,False
18765,950728,M,1997/9/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,171.178.68.155,False

In [24]:
# Zadanie 2d
"""
Tutaj użyjemy funkcji merge(), ponieważ jest ona odpowiednikiem klauzuli SQL Joins.
Mamy możliwość wykonania złączenia left/right/outer/inner join.

Możemy również użyć funkcji concat(), ale zazwyczaj jest ona używana do łączenia dwóch
ramek danych poprzez dodawanie nowych wierszy jeden do drugiego.
concat() może również łączyć dwa zbiory danych według kolumn,
ale preferowanym sposobem jest merge (według dokumentacji)

"""
result = pd.merge(orders_df, customers_df, how='inner', on='customer_id')

In [28]:
result

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,20.0,1,White,T-Shirt,M,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-06-04,13,HTS-038040-0001,038040,18.0,1,White,T-Shirt,F,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,2014-11-14,11,HTS-801797-0001,801797,20.0,1,White,T-Shirt,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
3,2015-10-22,12,HTS-801797-0002,801797,20.0,2,White,T-Shirt,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
4,2017-02-26,10,HTS-vft1eu-0003,vft1eu,18.0,3,White,T-Shirt,F,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25877,2016-11-02,11,HTS-762534-0001,762534,23.0,1,NaN,Hoodie,NaN,M,1963/8/24,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,58.3.164.178,True
25878,2016-11-16,4,HTS-hrpv38-0001,hrpv38,20.0,3,White,T-Shirt,M,F,1951/8/15,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,118.210.235.250,True
25879,2014-07-12,16,HTS-978569-0001,978569,23.0,1,NaN,Hoodie,NaN,M,1986/11/19,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,112.172.97.50,False
25880,2016-08-05,11,HTS-k0batl-0001,k0batl,20.0,2,White,T-Shirt,M,M,1959/2/6,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,174.226.65.20,False
25881,2017-03-13,11,HTS-200121-0001,200121,24.0,1,NaN,Tennis_Shirt,NaN,F,1969/8/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,56.182.53.24,False

# Zadanie 3

In [26]:
result.to_csv('DATA/cw5/cw5_outfile.csv', index=False)