In [5]:
# Zadanie 1
class Animal:
    def __init__(self, is_alive, gender='Female', genus=""):
        self.is_alive = is_alive
        self.gender = gender
        self.genus = genus
        
    def breed(self, partner):
        if self.gender == 'Female' and partner.gender == 'Male' and (self.genus == partner.genus):
            return self

    
class Dog(Animal):
    def woof(self) -> str:
        return "woof woof"
    
    
class Cat(Animal):
    def purr(self) -> str:
        return "purr"

In [6]:
dog = Dog(True, 'Male', 'Calis')
dog2 = Dog(True, 'Female', 'Calis')
dog.woof()
dog2.breed(dog)

In [3]:
cat = Cat(True, 'Female', 'Felis')
cat2 = Cat(True, 'Male', 'Felis')
cat.purr()
cat.breed(cat2)

In [4]:
# Zadanie 2
import datetime


class Worker:
    def __init__(self, number: int, name: str, age:int, salary:int):
        self.number = number
        self.name = name
        self.age = age
        self.salary = salary

In [5]:
workers_list = [Worker(1, 'Adam', 1983, 1500),
Worker(2, 'Anna', 1981, 1700),
Worker(3, 'Błażej', 1990, 1800),
Worker(4, 'Beata', 1992, 1600),
Worker(5, 'Czesław', 1980, 2000),
Worker(6, 'Cecylia', 1983, 2100),
Worker(7, 'Daniel', 1976, 1900)]

In [6]:
def salary_avg(worker_list) -> float:
    worker_salary_list = []
    for i in worker_list:
        worker_salary_list.append(i.salary)
    return sum(worker_salary_list) / len(worker_salary_list) if len(worker_salary_list) > 0 else 0

In [7]:
salary_avg(workers_list)

1800.0

In [8]:
def avg_sal_under_30(worker_list):
    currentYear = int(datetime.datetime.now().date().strftime("%Y"))
    workers_under_30 = []
    for i in worker_list:
        if currentYear - i.age < 30:
            workers_under_30.append(i)
            
    return salary_avg(workers_under_30)


def avg_sal_30(worker_list):
    currentYear = int(datetime.datetime.now().date().strftime("%Y"))
    workers_30 = []
    for i in worker_list:
        if currentYear - i.age >= 30:
            workers_30.append(i)
            
    return salary_avg(workers_30)

In [9]:
print("Do: 30: {0}".format(avg_sal_under_30(workers_list)))
print("Powyżej 30: {0}".format(avg_sal_30(workers_list)))

Do: 30: 0
Powyżej 30: 1800.0